hdr-display-enabled=0
vr-enabled=0
wait-for-native-debugger=0
init-minimal-loading=1
init-preload-plugins=0
init-run-asset-importer=0
init-validate-project-structure=0
init-wait-for-cache-server=0
init-perform-refresh=0
init-save-assets=0
init-init-unity-extensions=0
init-adb-sanity-checks=0
gi-enabled=0
background-progress-bar-enabled=0

enable-those-bellow-for-debugging=1
allow-importing=0
init-script-refresh=0
init-managed-compilation-pipeline=0